body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  margin: 0;
  background:linear-gradient(0, #ff66ff 0, #ff62ff 16.67%, #e95cff 33.33%, #bc53f2 50%, #904adc 66.67%, #6541c8 83.33%, #393ab4 100%)no-repeat fixed;
}

.home {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__title {
  color: #ffffff;
  font-size: 30px;
}

.inputSearchHeroes {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid #ffffff;
  border-width: 1px 3px;
  border-radius: 25px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  width: 70%;
  outline: none;
  color: #ffffff;
  box-shadow: 0 0 5px 0 rgb(243 238 238);
}
::placeholder {
  color: #ffffff;
}
.inputSearchHeroes:hover {
  box-shadow: 0 0 20px 0 rgb(243 238 238);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.inputButtonSearchHeroes a{
  height: 60px;
  width: 50px;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  text-decoration: none;
}